*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: p-regular ;
    src: url("../font/Poppins-Regular.ttf");
}
@font-face {
    font-family: p-semi;
    src: url("../font/Poppins-SemiBold.ttf");
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .sticky {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.1);  
    }
    nav {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.1);  
      }
    
  }
  .sticky{
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  
header{
    width:100%;
    overflow: hidden;
    position: fixed;
    z-index: 2;
}
header .wrapper{
    width: 90%;
    margin: 0px 5% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 10px;
}
header .brand{
    display: flex;
    justify-content: space-between;
}
header .brand img{
    width: 100px;
}
header nav ul{
    display: flex;
    position: relative;
    align-items: center;
}
header nav ul li{
    list-style: none;
    position: relative;
    width:7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    min-width: 7vw;
    position: absolute;
    font-family: p-regular;
    text-decoration: none;
    color:#262626;
    font-size: 15px;
    text-align: center;
}
header button{
    background-color:transparent;
    font-size: 14px;
    font-family: p-regular;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    transition: .5s;
}
header button:hover{
    background-color: #262626;
    color: #fff;
}
header nav ul li a.active::after{
    content: '';
    width: 7px;
    height: 7px;
    bottom: -10px;
    left: 47%;
    background-color: #262626;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
header nav ul li a:hover{
    color:#000;
    font-weight: bolder;
}
header nav ul li a.active{
    font-weight: bolder;
}
.one{
    width: 100%;
    height:100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10vh 0px 10vh 10vw;
    background:linear-gradient(174.42deg, #FEFFFC 13.93%, #EBECE9 63.06%);
    overflow: hidden;
    z-index: 1;
}
.content{
    width: 40vw;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    padding: 20vh 0px;
}
.image{
    width:60vw;
    position: relative;
}
.image .imageContainer{
    width:100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image .imageContainer img{
    width: 100%;
}
.head{
    font-family: p-semi;
    font-size: 3vw;
}
.role{
    font-family: p-regular;
    font-size: 26px;
}
.description{
    font-family: p-regular;
    width: 95%;
    padding-top: 10px;
}

.btnGrp button{
    width: 10vw;
    height: 6vh;
    background-color:transparent;
    border: transparent;
    font-size: 16px;
    font-family: p-regular;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-top: 10px;
}
.menuOption{
    display: none;
}
.btnGrp button:nth-child(1){
    background-color: #262626;
    color:#fff;
}
.btnGrp button:nth-child(2){
    border: 1px solid #262626;
    margin-left: 10px;
    transition: .5s;
}
.btnGrp button:nth-child(2):hover{
    background-color: #262626;
    color:#fff
}
.menuOption{
    width: 35px;
    height: 35px;
    padding: 0px;
    font-size: 30px;
    border: none;
}
.social{
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
.sicon{
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: #262626;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.sicon:hover{
    background:rgba(0, 0, 0, 0.2);
}
section{
    width:100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.skill{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.languagePart{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.skillillu{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.logoWrapper{
    width: 70%;
    height: 80%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.logoWrapper img{
    width: 100%;
    padding: 30px;
}
.skillWrapper{
    width: 50%;
    position: relative;
    border-radius: 5px;
}
.skillWrapper img{
    width: 100%;
}
.skillSection{
    padding: 100px;
    font-family: p-semi;
}
.love span{
    font-family: p-regular;
    font-size: 14px;
    text-align: center;
    /* color:#ff9204 */
    padding: 0px 10px;
    color:#262626;
}
.love{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#3f3f3f;
    padding: 10px;
}
.certifiContainer{
    width: 100%;
    height: 100vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
}
.certifiContainer h1{
    font-family: p-semi;
    font-size:30px;
}
.certifyFlex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.illuContainer{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.illuContainer img{
    width: 70%;
}
.cCollections{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.collectionContainer{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.row{
    width: 100%;
    height: 100%;
    position: relative;
    animation: scroll-y 10s alternate infinite;
}
.col{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.col div{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col div img{
    width: 100%;
}
.col div p{
    font-family: p-regular;
    text-align: center;
}
.col div p:nth-child(2){
    font-size: 14px;
}
.col div p:nth-child(3){
    font-size:12px;
}
.certifiSection{
    margin-top: 20px;
    background-color: #aee1ff28;
}
.collectionContainer img{
    width:50%;
}
.plant{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 15%;
    top:2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    z-index: 3;
}
.round{
    width: 20%;
    height: 50%;
    position: absolute;
    left: -10%;
    top: -10%;
    border-radius: 50%;
    animation: grow 5s alternate infinite;
    z-index: -1;
}
.round1{
    background-color:#E9FCE1;
}
.round2{
    background-color: #4649ff17;
    margin-top: 20%;
    animation: grow 5s alternate-reverse infinite;

}
.round3{
    background-color: #FCEAE1;
    margin-top: 40%;
    animation: grow 5s alternate infinite;
}
.thanks{
    text-align: center;
    font-family: p-regular;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 55);
    font-size: 30px;
}
.thanks span{
    color:#262626;
    font-size: 14px;
    padding: 10px;
}
.plant img{
    width: 100%;
}
.blob{
    width:70%;
    height:70%;
    position: absolute;
    background: linear-gradient(90deg,#fe8c0013,#f8360018);
    border-radius:67% 33% 43% 57% / 43% 34% 66% 57% ;
    z-index: -1;
    animation: rotate 3s alternate infinite ;
}
.contact{
    width: 100%;
    height: 90vh;
}
.contact h1{
    font-family: p-semi;
    font-size:30px;
}
.box{
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.box input{
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    font-size: 13px;
    padding-left: 5px;
    border: .5px solid rgb(216, 216, 216);
    font-family: p-regular;
    outline: none;
}
input.submit{
    width: 50%;
    height: 35px;
    font-size: 14px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#262626;
    color: #fff;
    border-radius: 5px;
}
.box input:focus{
    border:1px solid grey;
}
.box textarea:focus{
    border:1px solid grey;
}
.box textarea{
    width:100%;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 14px;
    outline: none;
    margin: 10px 0px;
    font-family: p-regular;
    border: .5px solid rgb(216, 216, 216);

}

.box label{
    font-family:p-regular;
}
.contentWrapp{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}
.leftc{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightc{
    width: 50%;
    position: relative;
}
.contact{
    padding: 40px;
}
.rightc .rightImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightc .rightImg img{
    width: 90%;
}
.quote{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top:10%;
    font-family:p-regular;
}
.quote p{
    min-width: 20%;
    text-align: center;
    padding: 5px;
    color:#262626;
    position: absolute;
    border-radius: 2px;
}
.quote p:nth-child(1){
    transform: rotate(-40deg);
}
.quote p:nth-child(2){
    right: 0;
    transform: rotate(40deg);
}
.quote p:nth-child(3){
    bottom:0;
    left: 40%;
}
@keyframes grow {
    from{
        width: 100px;
        height: 100px;
    }
    to{
        width: 300px;
        height: 300px;
    }
}
@keyframes scroll-y {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-160%);
    }

}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    border-radius:67% 33% 43% 57% / 43% 34% 66% 57% ;

    }
    to{
        transform: rotate(360deg);
        border-radius:24% 76% 43% 57% / 43% 54% 46% 57% 
    }
}
@media screen and (max-width:576px) {      
  .extheader{
        height: 100vh;

    }
    nav{
        display: none;
    }
    nav{
        width: 70%;
        height: auto;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        position: absolute;
        background-color: rgba(255, 255, 255, 1);
        padding: 20px;
        z-index: 222;
        border-radius: 5px;
        border: 1px soild #fff;
        /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
        /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    header nav ul{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        gap: 0px;
        padding: 10px;
    }
    header nav ul li{
        width: 100%;
        padding: 0px;
        padding: 30px;
    }
    .box{
        padding: 10px 20px;
        margin-top: -35%;
        position: relative;
        z-index: 12;
    }
    .box input{
        margin: 2px 0px;
    }
    .box textarea{
        margin: 2px 0px;
        height: 60px;
    }
    .quote p:nth-child(1){
        transform: rotate(0deg);
        left: -5%;
    }
    .quote p:nth-child(2){
        right: -5%;
        transform: rotate(0deg);
    }
    .quote p:nth-child(3){
        bottom:17%;
        left: 20%;
    }
    .rightc .rightImg img{
        width: 80%;
        position: relative;
        top: -5%;
    }
    .leftc{
        width:100%;
        height: 40%;
    }
    .rightc{
        width: 100%;
        height: 60%;
    }
    .contentWrapp{
        flex-direction: column-reverse;
    }
    .contact{
        width: 100%;
        height: 100vh;
        padding: 10px;
    }
    .certifiSection{
        padding-top: 40px;
    }
    .certifiContainer h1{
        font-size: 25px;
    }
    .thanks{
        display: flex;
        font-size: 50px;
        justify-content: center;
        flex-direction: row;
    }
    .thanks span{
        padding: 0px;
    }
    .thanks span:nth-child(1){
        margin-right: 10px;
    }
        .thanks span:nth-child(3){
        padding-left: 5px;
    }
    .col div{
        padding: 5px;
    }

    @keyframes grow {
        from{
            width: 20px;
            height: 20px;
        }
        to{
            width: 100px;
            height: 100px;
        }
    }
    .plant{
        width:100px;
        height: 100px;
        top: 42%;
        right:5%
    }
    .certifyFlex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .illuContainer{
        width: 100%;
        height: 40%;
    }
    .cCollections{
        width: 100%;
        height: 70%;
        padding: 5px;
    }
    .certifiContainer{
        padding: 10px;
    }
    .skillWrapper img{
        width: 80%;
    }
    @keyframes scroll-y {
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(-100%);
        }
    
    }
    .skillWrapper{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .logoWrapper{
        width: 90%;
    }
    .skillillu{
        width: 100%;
    }
    .languagePart{
        width: 100%;
        height: 50%;
    }
    .skillSection{
        padding: 50px 10px;
    }
    .skill{
        width: 100%;
        flex-direction: column-reverse;
        padding: 0px;
    }
    header .wrapper{
        width: 100%;
        margin: 0px 0px;
        padding: 20px 20px;
    }
    /* nav{
        display: none;
    } */
    .talk{
        display: none;
    }
    .one{
        width: 100%;
        flex-direction: column;
        padding: 0px;
        justify-content: space-around;
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        left: 0;
        top: 0;
        justify-content: space-between;
        position: absolute;
        text-align: center;
        padding: 16vh 10px 20px 10px ;
    }
    .description{
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .head{
        font-size: 29px;
    }
    .role{
        font-size: 18px;
    }
    
    .image{
        width: 100%;
        height: 100vh;
        padding: 100px 10px  10px 10px ;
    }
    .btnGrp button{
        width: 120px;
    }
    .image .imageContainer img{
        width: 120%;
        margin-top: -70px;
    }
    .image .imageContainer{
        width: 100%;
        height: 100vh;
    }
    .brand{
        width: 100%;
    }
    .menuOption{
        display: block;
    }
    .social{
        justify-content: space-around;
    }
    .sicon{
        margin-right: 0px;
    }
}
@media screen and (min-width:576.5px) and (max-width:768px) {
    .extheader{
        height: 100vh;

    }
    nav{
        display: none;
    }
    nav{
        width: 70%;
        height: auto;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        position: absolute;
        background-color: rgba(255, 255, 255, 1);
        padding: 20px;
        z-index: 222;
        border-radius: 5px;
        border: 1px soild #fff;
        /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
        /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    header nav ul{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        gap: 0px;
        padding: 10px;
    }
    header nav ul li{
        width: 100%;
        padding: 0px;
        padding: 30px;
    }
    .quote p:nth-child(1){
        transform: rotate(0deg);
        left: -5%;
    }
    .quote p:nth-child(2){
        right: -5%;
        transform: rotate(0deg);
    }
    .quote p:nth-child(3){
        bottom:10%;
        left: 20%;
    }
    .contact{
        width:100%;
        height: auto;
        padding: 10px;
    }
    .contact h1{
        padding:20px;
    }
    @keyframes scroll-y {
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(-220%);
        }
    
    }
    .illuContainer{
        padding: 5px;
    }
    .plant{
        opacity: 0;
    }
    .cCollections{
        height: 70%;
        padding: 5px;
    }
    @keyframes grow {
        from{
            width: 50px;
            height: 50px;
        }
        to{
            width: 175px;
            height: 175px;
        }
    }
    .certifiContainer{
        padding: 10px;
    }
    .languagePart{
        width:80%;
        height: 100%;
    }
    .skillSection{
        padding: 30px 10px;
        height: 100vh;
    }
    section{
        width:100%;
        height: auto;
    }
    header .wrapper{
        width: 100%;
        margin: 0px 0px;
        padding: 20px 20px;
    }
   
    .talk{
        display: none;
    }
    .one{
        width: 100%;
        height: 200vh;
        max-height: 400vh;
        flex-direction: column;
        padding: 0px;
        justify-content: flex-start;
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        left: 0;
        top: 0;
        justify-content: space-between;
        position: absolute;
        text-align: center;
        padding: 16vh 10px 20px 10px ;
    }
    .description{
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .head{
        font-size: 29px;
    }
    .role{
        font-size: 18px;
    }
    
    .image{
        width: 100%;
        height: 100vh;
        padding: 100px 10px  10px 10px ;
    }
    .btnGrp button{
        width: 120px;
        height: 40px;
    }
    .image .imageContainer img{
        width: 120%;
    }
    .image .imageContainer{
        width: 100%;
    }
    .brand{
        width: 100%;
    }
    .menuOption{
        display: block;
    }
    .social{
        justify-content: space-around;
    }
    .sicon{
        margin-right: 0px;
    }
}
@media  screen and (max-width:300px) {
    .head{
        font-size: 25px;
    }
    .quote p:nth-child(3){
        left: 10%;
    }
}